[Unit]
Description=jdownloader
After=network.target

[Service]
WorkingDirectory=/opt/jdownloader/
User=admin
Group=users
Type=simple
UMask=000
ExecStart=/usr/bin/java -Djava.awt.headless=true -jar JDownloader.jar
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target