{
    "production": {
        "protocolUseSSL": true,
        "domain": "__DOMAIN__",
        "port": __PORT__,
        "loglevel": "info",
        "useCDN": false,
        "allowGravatar": false,
        "allowPDFExport": false,
        "hsts": {
            "enable": true,
            "maxAgeSeconds": 31536000,
            "includeSubdomains": true,
            "preload": true
        },
        "csp": {
            "enable": true,
            "directives": {
            },
            "upgradeInsecureRequests": "auto",
            "addDefaults": true,
            "addDisqus": true,
            "addGoogleAnalytics": false
        },
        "db": {
            "username": "__DB_USER__",
            "password": "__DB_PASS__",
            "database": "__DB_NAME__",
            "host": "localhost",
            "port": "5432",
            "dialect": "postgres"
        }
    }
}
