[Unit]
Description=__APP__: collaborative Markdown notes
After=network.target
After=mysql.service

[Service]
Type=simple
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=/usr/bin/yarn start
Restart=always
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
