[Unit]
Description=__APP__ daemon
After=syslog.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
Environment="PATH=__ENV_PATH__"
Environment="NODE_ENV=production"
ExecStart=/usr/bin/yarn start
Restart=always

[Install]
WantedBy=multi-user.target
